*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(218, 197, 167);
}
main{
    width: 100%;
}

.view-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;

    img{
        width: 80%;
        object-fit: cover;
    }

    h1{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 100;
        line-height: 1;
    }
    p{
        text-align: center;
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 1.6;
        margin: 0.9rem 0;
        opacity: 0.6;

        br{
            display: none;
        }
    }
}

.view-2{
    width: 100%;
    padding: 4rem 3rem;
    display: flex;
    justify-content: center;

    .marquee{
        display: flex;
        width: 100%;
        overflow: hidden;
        position: relative;

        &::after{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to right,#0e0e0e,transparent,#0e0e0e);
        }

        .text{
            display: flex;
            gap: 3rem;
            padding: 0 1.5rem;

            animation: marquee 10s linear  infinite both ;
            
            p{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.view-3{
    width: 100%;
    margin-bottom: 3rem;

    .parent{
        width: 100%;
        height: 18rem;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        

        .child{
            width: 100%;
            height: 100%;
            text-align: left;
            background-color: rgba(245, 222, 179, 0.043);
            opacity: 0.6;
            padding: 2rem 2rem;
            border:1px solid rgba(245, 222, 179, 0.267);
            border-radius: 3px;
            // position: relative;

            button{
                // position: absolute;
                margin-right: 0.6rem;
                color: rgb(218, 197, 167);
                margin-top: 2rem;
                width: 1.9rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                border:1px solid rgba(245, 222, 179, 0.074);
                background-color: rgba(245, 222, 179, 0.053);
                rotate: -45deg;
                transition: all 0.2s linear;
            }

            button:hover{
                background-color: rgba(245, 222, 179, 0.133);
                border:1px solid rgba(245, 222, 179, 0.239);
                rotate: none;
            }

            a{
                text-decoration: none;
                color: rgb(218, 197, 167);
                font-size: 0.85rem;
                font-weight: 500;
                word-spacing: 0.2rem;
                letter-spacing: 0.1rem;
            }

            p{
                padding-top: 0.5rem;
            }
        }
    }
}
    

@media(min-width:1020px){
    html{
        font-size: clamp(16px,1vw,20px)
    }

    .view-1{
        img{
            width: 28%;
        }
        
        h1{
            font-size: 8.5rem;
        }
        
        p{
            font-size: 2rem;

            br{
                display: block;
            }
        }
    }
    .view-2{
        .marquee{
            width: 55%;
        }
    }
    .view-3{
        width: 100%;
        padding-bottom: 4rem;

        .parent{
            width: 100%;
            height: 18rem;
            padding: 0 3rem;
            flex-direction: row;
            justify-content: space-around
            ;
    
            .child{
                width: 32%;
                height: 100%;
                text-align: left;
                background-color: rgba(218, 197, 167, 0.075);
                opacity: 0.8;
                padding: 3rem 3rem;
                border:1px solid rgba(218, 197, 167, 0.299);
                border-radius: 3px;
    
                p{
                    padding-top: 0.5rem;
                }

                h5{
                    opacity: 0.5;
                }
            }
        }
    }
}